<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BMSR{% endblock %}</title>

	<style>
	    .page-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
	    .page-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<div class="page-wrapper">
        	{% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
