<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BMSR{% endblock %}</title>

		<link rel="stylesheet" href="{{ asset("build/css/sakura.css") }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<div class="page-wrapper">
        	{% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        
        <script type="text/javascript">
        window.hotkeyBindings = `Alt+ArrowUp up\n{% block hotkeys %}{% endblock %}`
        </script>
		{% include 'hotkeys-js.html.twig' %}
		
		{% block js %}{% endblock %}

        <script type="text/javascript" src="{{ asset("build/js/shortcuts.js") }}"></script>
    </body>
</html>
