
<div id="quickSelect"></div>

<script src="{{ asset("build/js/quick-select.js") }}"></script>

<style>
#quickSelect {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -20rem;
    width: 40rem;
    text-align: center;
}
.quick-select-highlight {
    font-weight: bold;
}
a[data-quick-select] {
    color: crimson;
}
</style>
