{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<h1>{{  controller_name }}</h1>

<h2>db</h2>
<p>
	<a href="{{ path("dev_db_repopulate") }}">Tøm og fyll database</a>
</p>

{% endblock %}
